<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title, extraLinks)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">VetSystem</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/root.css}">
  <th:block th:replace="${extraLinks}"></th:block>
</head>

<body>

  <header th:fragment="header">
    <nav>
      <a th:href="@{/}">Inicio</a>
      <span sec:authorize="isAuthenticated()">
        | <a th:href="@{/dashboard}">Dashboard</a>
        |
        <form th:action="@{/logout}" method="post">
        <button type="submit">Cerrar sesión</button>
      </form>
      </span>
      <span sec:authorize="!isAuthenticated()">
        | <a th:href="@{/login}">Iniciar sesión</a>
      </span>
    </nav>
  </header>

  <footer th:fragment="footer">
    <p>&copy; VetSystem</p>
  </footer>

</body>

</html>