body {
  background-color: var(--ink-black);
}

.login-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  background-color: var(--prussian-blue);
  border-radius: 0.6rem;
  width: 50dvw;
  gap: 2rem;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  color: var(--alabaster-grey);
  font-size: 0.9rem;

  & .form__button,
  & .form__input {
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }

  & .form__input {
    border: 1px solid var(--dusk-blue);
    outline: none;
    background-color: var(--ink-black);
    color: var(--alabaster-grey);
    border-radius: 0.3rem;

    &::placeholder {
      color: var(--alabaster-grey);
    }

    &:focus {
      border-color: var(--dusty-denim);
    }
  }

  & .form__button {
    align-self: flex-start;
    margin-top: 1rem;
    background-color: var(--alabaster-grey);
    color: var(--ink-black);
    font-weight: 600;

    &:hover {
      background-color: #fff;
    }
  }
}

.back-link {
  color: #fff;
  font-size: 0.85rem;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--alabaster-grey);
  }
}
